<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <!-- The logging pattern -->
            <pattern>%date %coloredLevel - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!-- Levels of specific loggers -->
    <logger name="com.effinggames.LoggerHelper" level="INFO"/>

    <!-- Logging level for every logger -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>